
    <div class="tab-pane" id="tab_b" role="tabpanel">
      <!-- deviseで@postsを取得できていない -->
      <div class="row align-items-center ">
      <% sorted_posts = current_user.posts.includes(:tags, :favorites).order(created_at: :DESC) %>
      <% sorted_posts.each do |post| %>
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <div class="card-header" style="width: 100%">
            <span><%= "No.#{post.id}" %></span>
            <%= post.grade %><%= post.subject %><%= "  #{post.unit}" %>
          </div>
            <p><%= link_to image_tag(post.image.url(:thumb)), post_path(post.id) ,class: 'bd-placeholder-img card-img-top'%></p>
            <li class="list-inline-item">
              <span><i class="fa fa-binoculars"></i><%= post.views_count %></span>
              <span><i class="fa fa-heart"></i><%= post.favorites.count %></span>
            </li>
        </div>
      </div>
      <% end %>
      </div>
    </div>
