<div class ="row">
  <div class = "col-4">
    <div class="row">
    <div class="col-10 offset-2">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="field">
  <%= image_tag(current_user.image.url(:thumb)) if current_user.image && current_user.image.url %>
  <p><%= f.file_field :image %></p>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name",class: "form-control form-control-sm"%>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email",class: "form-control form-control-sm" %>
  </div>
  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div><%= t('.currently_waiting_confirmation_for_email', email: resource.unconfirmed_email) %></div>
  <% end %>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "new-password",class: "form-control form-control-sm",placeholder:"新パスワード(6字以上)" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password",class: "form-control form-control-sm",placeholder:"新パスワード確認用"%>
  </div>

  <div class="field">
    <%= f.label :current_password %> <br />
    <%= f.password_field :current_password, autocomplete: "current-password",class: "form-control form-control-sm",placeholder:"現在のパスワード" %>
  </div>

  <div class="actions">
    <%= f.submit t('.update'),class: 'btn btn-primary btn-sm' %>
  </div>

  <p><%= link_to t('.cancel_my_account'),registration_path(resource_name), data: { confirm: t('.are_you_sure') }, method: :delete,class: 'btn btn-danger btn-sm' %></p>
  <%= link_to t('devise.shared.links.back'), :back %>
<% end %>
</div>
</div>
</div>
<%# ここからメインコンテンツ表示用。お気に入り一覧と自身の投稿内容をタブ切替で表示する %>
<div class = "col-8">
  <ul class="nav nav-tabs" role="tablist">
    <li class="active" role="presentation">
      <a aria-controls="tab_a" data-toggle="tab" href="#tab_a" role="tab" class="btn btn-sm btn-pink">お気に入り</a>
    </li>
    <li role="presentation">
      <a aria-controls="tab_b" data-toggle="tab" href="#tab_b" role="tab" class="btn btn-sm btn-primary">自分の投稿</a>
    </li>
  </ul>
  <div class="tab-content">
    <%= render 'favorite' %>
    <%= render 'my_post' %>
  </div>
</div>
</div>
