<h2 class = "text-center">投稿を編集する</h2>
<%= form_with(model: @user, local: true,) do |form| %>
<% if @user.errors.any? %>
<div id="error_explanation">
  <h2><%= @user.errors.count %>件のエラーがあります。</h2>
  <ul>
    <% @user.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>
<div id = "form">
  <div class="row">
    <div class="col-md-2 col-md-offset-6">
      <%= form.label :名前 %>
      <%= form.text_field :name %>
    </div>
    <br>
    <div class="col-md-2 col-md-offset-6">
      <%= form.label :メールアドレス %>
      <%= form.text_field :email %>
    </div>
    <br>
    <div class="col-md-2 col-md-offset-6">
      <%= form.label :パスワード %>
      <%= form.password_field :password %>
    </div>
    <br>
    <div class="col-md-2 col-md-offset-6">
      <%= form.label :パスワード確認のためもう一度うってください %>
      <%= form.password_field :password_confirmation %>
    </div>
    <br>
    <div class="col-md-2 col-md-offset-6">
      <%= form.label :ユーザー画像 %>
      <%= image_tag(@user.image.url) if @user.image && @user.image.url %>
      <%= form.file_field :image %>
      <%= form.hidden_field :image_cache %>
    </div>
    <br>
    <div class="col-md-6 col-md-offset-6">
      <%= form.submit value = "ユーザー情報の更新"%>
    </div>
    <br>
  </div>
</div>
<% end %>
<button type="button" class="btn btn-default col-md-2 col-md-offset-6">
  <%= link_to "投稿一覧画面にもどる", posts_path %>
</button>
