<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <%= link_to "教材シェア", posts_path ,class: "navbar-brand col-sm-2 col-m " %>
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
        <div class="text-left header_text">
          <%= link_to new_post_path ,class: 'btn btn-primary btn-sm rounded-pill' do%>
            <i class="fa fa-pencil "></i>
            新しく投稿する
          <% end %>
          <%= link_to worksheets_path ,class: 'btn btn-primary btn-sm rounded-pill' do%>
            <i class="fa  fa-file"></i>
            ワークシートを探す
          <% end %>
          <% if user_signed_in? %>
          <%= link_to  "管理者ページ", rails_admin_path ,id: "admin_font" if current_user.admin == true%>
            <%= "#{current_user.name}さん" %>
            <% if current_user.image.url.present? %>
              <%= link_to image_tag(current_user.image.url(:user_thumb)), edit_user_registration_path(current_user.id), class:'rounded-pill' %>
            <% else %>
              <%= link_to image_tag("user.png"), edit_user_registration_path(current_user.id), class:'rounded-pill'%>
            <% end %>
            <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
          <% else %>
          <%= link_to "新規登録", new_user_registration_path %>
          <%= link_to "ログイン", new_user_session_path %>
          <% end %>
        </div>
    </li>
  </ul>
</nav>
