<div class="row">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
    <div class="col-6 offset-3">
      <div class="form-group">
        <%= form_with(model: @post, local: true ) do |form| %>
        <% if @post.errors.any? %>
        <div id="error_explanation">
          <h2><%= @post.errors.count %>件のエラーがあります。</h2>
          <ul>
            <% @post.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
        <% end %>
          <div id="post_form">
          <br>
          <br>
          <%= form.label :学年%>
          <%= form.select :grade, Post.grades.keys, selected: 1 %>

          <%= form.label :教科 %>
          <%= form.select :subject, Post.subjects.keys, selected: 1 %>
          <!-- <p><%= form.label :種類 %> -->
          <%# <%= form.select :kind, Post.kinds.keys, include_blank: "選択してください" %>
          <div>
          <% form.label :単元名 %>
          <%= form.text_field :unit ,autofocus: true, autocomplete: "name" ,class: "form-control form-control-sm", placeholder:"単元名を入力してください(必須)" %>
          </div>
          <br>
          <div>
            <% form.label :ワークシート画像 %>
            <%= form.file_field :image, onchange: 'previewImage()', class: 'form-control mb-3', accept: 'image/*' %>
            <%= form.hidden_field :image_cache %>
            <p> jpg jpeg gif png形式可 </p>
            <div class='mt-3 mb-3'>
              <%# プレビュー用 %>
              <%= image_tag @post.image.url,
                id: 'preview',
                size: '100x100' %>
            </div>
          </div>
          <div id="post_form">
            <i class="fa fa-tags "></i>
            <%= form.label :タグ %>
            <%= form.collection_check_boxes(:tag_ids, Tag.all, :id, :name) %>
            <!-- <i class="fa fa-file"></i> -->
            <%# <%= form.label :pdfcsvはこちら %>
            <%# <%= form.file_field :ms_office %>
            <div class="actions">
              <%= form.submit value = "投稿する", class: "btn btn-primary"%>
            </div>
        <% end %>
        </div>
        </div>
      </div>
    </div>
