<div class="row">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
    <div class="col-6 offset-3">
        <%= form_with(model: @post, local: true ) do |form| %>
        <% if @post.errors.any? %>
        <div id="error_explanation">
          <h2><%= @post.errors.count %>件のエラーがあります。</h2>
          <ul>
            <% @post.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
        <% end %>
          <%= form.label :タイトル %>
          <%= form.text_field :title, autofocus: true, class: "form-control form-control-sm", placeholder:"タイトルを入力してください"  %>
          <%= form.label :説明 %>
          <%= form.text_area :content, autofocus: true,class: "form-control", placeholder:"説明を５００字以内で記入してください" %>

          <%= form.label :学年%>
          <%= form.select :grade, Post.grades.keys, selected: 1 %>

          <%= form.label :教科 %>
          <%= form.select :subject, Post.subjects.keys, selected: 1 %>

          <%= form.label :種類 %>
          <%= form.select :kind, Post.kinds.keys,  selected: 1 %>
          <div>
          <%= form.label :単元 %>
          <%= form.text_field :unit ,autofocus: true, autocomplete: "name" ,class: "form-control form-control-sm", placeholder:"単元名を入力してください" %>
          </div>
          <div>
          <%= form.label :画像 %>
          <%= image_tag(@post.image.url) if @post.image && @post.image.url %>
          <%= form.file_field :image%>
          <%= form.hidden_field :image_cache %>
          </div>
          <div>
            <i class="fa fa-file"></i>
          <%= form.label :wordexcelはこちら %>
          <%= form.file_field :ms_office %>
          </div>
          <%= form.label :経験年数別タグ %>
          <%= form.collection_check_boxes(:tag_ids, Tag.all, :id, :name) %>
          <div class="actions">
          <%= form.submit value = "投稿する", class: "btn btn-primary"%>
          </div>
        <% end %>
      </div>
      <!-- <div class="col-9">
        <div class="main_contents">
          <%# <%= yield %> %>
        </div>
      </div> -->
    </div>
