<div class="row align-items-center ">
  <% @posts.each do |post| %>
  <div class="card" style="width: 19rem;">
    <div class="card-body">
      <div class="card-header" style="width: 100%">
        <span><%= "No. #{post.id}" %></span>
        <%= post.grade %><%= post.subject %><%= "  #{post.unit}" %>
      </div>
      <img class="bd-placeholder-img card-img-top" width="100%">
        <%= link_to image_tag(post.image.url(:thumb)), post_path(post.id) %>
        <ul class="list-inline">
          <li class="list-inline-item">
            <span><i class="fa fa-binoculars"></i><%= post.views_count %></span>
            <span><i class="fa fa-heart"></i><%= post.favorites.count %></span>
          </li>
        </ul>
        <% post.tags.each do |tag| %>
          <span class= 'btn btn-info btn-sm rounded-pill'>
            <%= tag.name %>
          </span>
        <% end %>
    </div>
  </div>
  <% end %>
</div>
