<%= search_form_for @q, url: url do |f| %>
  <div class="input-group mb-3">
    <%= f.select :grade_eq, options_for_select({１年生: 1, ２年生: 2, ３年生: 3,
                                                    ４年生: 4, ５年生: 5, ６年生: 6,
                                                    特別支援: 7, 学年共通: 8}),
                                                    include_blank: '学年指定なし' %>

    <%= f.select :subject_eq, options_for_select({ 国語: 1, 社会: 2, 算数: 3, 理科: 4, 生活: 5,
                                                   音楽: 6 , 図画工作: 7, 家庭: 8, 体育: 9,
                                                   道徳: 10, 総合: 11, 特別活動: 12, 外国語活動: 13}),
                                                   include_blank: '教科指定なし' %>
    <%= f.search_field :unit_cont, class: 'form-control', placeholder: '単元名検索' %>

    <div class="input-group-append">
      <%= f.submit class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
