<div class="container-fluid">
  <div class="row">
<!-- 画面左側サイドバー -->
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
              <span data-feather="home"></span>
              所見例検索 <span class="sr-only">(current)</span>
            <%= form_with url: findings_path, method: :get, local: true do |form| %>
            <div class="grade_search">
            <span data-feather="file"></span>
              <%= form.label :学年 %>
              <%= form.select :grade_search, Post.grades.keys, selected: 1 %>
            </div>
            <div class="subject_search">
            <%= form.label :教科 %>
            <%= form.select :subject_search, Post.subjects.keys, include_blank: "指定しない" %>
            </div>
            <div class="unit_search">
              <%= form.label :単元 %>
              <%= form.text_field :unit_search , class: "form-control form-control-sm"%>
            </div>
              <%= form.submit '検索する', name: nil %>
            <% end %>
            <%= form_with url: findings_path, method: :get, local: true do |form| %>
              <%= form.select("tag_id", Tag.pluck(:name, :id), { include_blank: true }) %>
              <%= form.submit 'タグ検索', name: nil , class: 'btn btn-primary'%>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to '新しく投稿する', new_post_path ,class: 'btn btn-primary btn-sm' %>
          </li>
        </ul>
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <a class="d-flex align-items-center text-muted" href="#" aria-label="Add a new report">
            <span data-feather="plus-circle"></span>
          </a>
        </h6>
      </div>
    </nav>
    <!-- 画面右側に表示されるコンテンツ -->
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h4 class="text-center"></h4>
          所見例
            <%= form_with  url: findings_path, method: :get, local: true do |form| %>
            <%= form.select :sort,{'新着順': 'new', '古い順': 'old', '閲覧数順': 'view',},
                                    { include_blank: '',},
                                    { id: 'sort' , required: true } %>
              <%= form.submit '並び替え'%>
            <% end %>
      </div>
      <p id="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <% @posts.each do |post| %>
      <p><span><%= "No. #{post.id}" %></span>
      <%= post.grade %><%= post.subject %><%= post.unit %>
      <span><i class="fa fa-binoculars"></i><%= post.views_count %></span>
      <span><i class="fa fa-heart"></i><%= post.favorites.count %></span>
      <% post.tags.each do |tag| %>
        <span class= 'btn btn-info btn-sm rounded-pill'>
          <%= tag.name %>
        </span>
      <% end %></p>
        <%= link_to image_tag(post.image.url(:thumb)), post_path(post.id) %>
      <% end %>
    <p><%= paginate @posts %></p>
    </main>
  </div>
</div>
