<h4>指導案</h4>
<div class="container-fluid">
  <div class="row">
<!-- 画面左側サイドバー -->
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" href="#">
              <span data-feather="home"></span>
              ファイル検索 <span class="sr-only">(current)</span>
            </a>
            <%= form_with url: plans_path, method: :get, local: true do |form| %>
            <div class="grade_search">
              <%= form.label :学年 %>
              <%= form.select :grade_search, Post.grades.keys, selected: 1 %>
            </div>
            <div class="subject_search">
            <%= form.label :教科 %>
            <%= form.select :subject_search, Post.subjects.keys, include_blank: "指定しない" %>
            </div>
            <div class="unit_search">
              <%= form.label :単元 %>
              <%= form.text_field :unit_search %>
            </div>
              <%= form.submit '検索する', name: nil %>
            <% end %>
            <%= form_with url: plans_path, method: :get, local: true do |form| %>
              <%= form.select("tag_id", Tag.pluck(:name, :id), { include_blank: true }) %>
              <%= form.submit 'タグ検索', name: nil %>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to '新しく投稿する', new_post_path ,class: 'btn btn-primary' %>
          </li>
        </ul>
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <a class="d-flex align-items-center text-muted" href="#" aria-label="Add a new report">
            <span data-feather="plus-circle"></span>
          </a>
        </h6>
      </div>
    </nav>
    <!-- 画面右側に表示されるコンテンツ -->
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">

          <div class="btn-group mr-2">
            <p id="notice"><%= notice %></p>
            <p class="alert"><%= alert %></p>
              <% @posts.each do |post| %>
                <object><%= post.grade %><%= post.subject %><%= post.unit %></object>
                <%= link_to image_tag(post.image.url(:thumb)), post_path(post.id) %>
              <% end %>
          </div>
          <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <!-- ソートボタン配置 -->
            ソートボタン
          </button>
      </div>
      <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>
    </main>
  </div>
</div>
