  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <p>タイトル: <%= @post.title %></p>
  <p>内容: <%= @post.content %></p>
  <span><%= "No.#{@post.id}" %></span>
  <span><i class="fa fa-binoculars"></i><%= @post.views_count %></span>
  <span><i class="fa fa-heart"></i><%= @post.favorites.count %></span>
  <% if  @tag_count >=1 %>
    <% @post.tags.each do |tag| %>
      <span class= 'btn btn-info btn-sm rounded-pill'>
      <%= tag.name %>
        </span>
  <% end %>

  <% end %>
  <p><%= image_tag @post.image.url %></p>
  <% if @post.image.url == "default.jpg"%>
    <p>画像はありません</p>
  <% else %>
    <p><%= link_to '画像ダウンロード', download_post_path(@post) ,class: "btn btn-warning rounded-pill"%></p>
  <% end %>

  <% unless @post.ms_office.url == nil %>
    <p><%= link_to 'ファイルダウンロード', file_download_post_path(@post),class: "btn btn-warning rounded-pill" %></p>
  <% else  %>
    <p>この投稿にword,excelファイルはありません</p>
  <% end %>
  <div id ="margin">
    <% unless @post.user_id == current_user.id %>
      <% if @favorite.present? %>
        <%= link_to 'お気に入り解除する', favorite_path(id: @favorite.id), method: :delete, class: 'btn btn-danger' %>
      <% else %>
        <%= link_to 'お気に入りする', favorites_path(post_id: @post.id), method: :post, class: 'btn btn-pink' %>
      <% end %>
    <% end %>
  </div>
<%= link_to '新しく投稿する', new_post_path ,class: 'btn btn-primary btn-sm'%>
  <% if current_user == @post.user %>
<div id ="margin">
  <%= link_to "投稿を編集する", edit_post_path(@post.id), data: { confirm: '本当に編集していいですか？' } ,class: 'btn btn-primary btn-sm'%>
  <%= link_to '投稿を削除する', post_path(@post.id),data: { confirm: '本当に削除していいですか？' }, method: :delete ,class: 'btn btn-danger btn-sm'%>
</div>
<% end %>
