<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<span><%= "No.#{@post.id}" %></span>
<span><i class="fa fa-binoculars"></i><%= @post.views_count %></span>
<span>
  <%# <% unless @post.user_id == current_user.id %>
    <% if @favorite.present? %>
      <%= link_to favorite_path(id: @favorite.id), class: 'btn btn-pink btn-sm rounded-pill', method: :delete do %>
        <i class="fa fa-heart"></i>
      <% end %>
    <% else %>
      <%= link_to  favorites_path(post_id: @post.id), class: 'btn btn-pink btn-sm rounded-pill', method: :post do %>
        <i class="fa fa-heart-o"></i>
      <% end %>
    <% end %>
  <%= @post.favorites.count %>
</span>
<%# <%= "#{@post.likes.count}いいね!" %>
<%# <% if current_user.already_liked?(@post) %>
  <%# <%= button_to 'いいね!を取り消す', post_like_path(@post), method: :delete ,class: 'btn btn-primary btn-sm'%>
<%# <% else %>
  <%# <%= button_to 'いいね!', post_likes_path(@post) ,class: 'btn btn-primary btn-sm'%>
<%# <% end %>

<% if  @tag_count >=1 %>
  <% @post.tags.each do |tag| %>
    <span class= 'btn btn-info btn-sm rounded-pill'>
      <%= tag.name %>
    </span>
  <% end %>
<% end %>
  <div class='btn btn-secondary btn-sm'>
    印刷
  </div>
  <div class="print-area">
    <p><%= image_tag @post.image.url %></p>
  </div>

    <p><%= @post.image.filename %></p>
<% if @post.image.url == "default.jpg"%>
    <p>画像はありません</p>
<% else %>
  <p><%= link_to '画像ダウンロード', download_post_path(@post) ,class: "btn btn-warning rounded-pill"%></p>
<% end %>

<%# <% unless @post.ms_office.url == nil%>
<%# <% else %>
  <%# ファイルはありません %>
<%# <% end %>

<% if current_user == @post.user %>
<div id ="margin">
<%= link_to "投稿を編集する", edit_post_path(@post.id), data: { confirm: '本当に編集していいですか？' } ,class: 'btn btn-primary btn-sm'%>
<%= link_to '投稿を削除する', post_path(@post.id),data: { confirm: '本当に削除していいですか？' }, method: :delete ,class: 'btn btn-danger btn-sm'%>
</div>
<% end %>
