<% content_for(:title, 'ワークシート') %>
<div class="container-fluid">
  <div class="row">
    <!-- 画面右側に表示されるコンテンツ -->
    <main role="main" class="col-md-12 ml-sm-auto px-6">
      <div class="align-items-center pt-3 pb-2 mb-3">
        <div class="row">
          <div class="col-lg-10 offset-lg-1">
            <%= render 'search_form', url: worksheets_path %>
          </div>
          <div class="col-lg-5 offset-lg-7">
            <%# <%= form_with  url: worksheets_path, method: :get, local: true do |form| %>
              <%# <%= form.select :sort,{'新着順': 'new', '古い順': 'old', '閲覧数順': 'view', 'お気に入り順': 'favorites'},
                                    { include_blank: ''},
                                    { id: 'sort' , required: true }%>
              <%# <%= form.submit '並び替え' ,class: 'btn btn-success btn-sm'%>
            <%# <% end %>
          </div>
        </div>
        <%# sort_link(@search, :カラム名, 表示名, urlオプション, htmlオプション) %>
        <div class= 'btn btn-guest btn-sm'>
          <%= sort_link(@q, :created_at, "新着順", created_at: :desc ,default_order: :desc, hide_indicator: true) %>
        </div>
        <div class= 'btn btn-guest btn-sm'>
          <%= sort_link(@q, :created_at, "古い順", created_at: :asc , hide_indicator: true) %>
        </div>
        <div class='btn btn-guest btn-sm'>
          <%= sort_link(@q, :views_count, "閲覧数順", views_count: :desc, default_order: :desc, hide_indicator: true ) %>
        </div>
      <p id="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      </div>
      <%= render 'post_card' %>
      <%= paginate @posts %>
    </main>
  </div>
</div>
