<!DOCTYPE html>
<html>
<head>
  <title>TeachersLibrary</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<header>
  <div class="text-left header_text">
    <span><%= link_to "Home", posts_path %></span>
    <span><%= link_to "About", about_path %></span>
    <% if user_signed_in? %>
    <%= "ログイン中: #{current_user.name}さん" %>
    <%= link_to "プロフィール", edit_user_registration_path(current_user.id) %>
    <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
    <% else %>
    <%= "あなたは今ログインしていません" %>
    <%= link_to "新規登録", new_user_registration_path %>
    <%= link_to "ログイン", new_user_session_path %>
    <% end %>
  </div>
</header>
<body>
  <div class="row">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class="row">
      <div class="col-2 offset-1">
        <div class="sidebar_fixed">
          ドロップダウンリスト
        </div>
      </div>
      <div class="col-9">
        <div class="main_contents">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
