<!DOCTYPE html>
<html>
<head>
  <title>TeachersLibrary</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<header>
  <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <%= link_to "先生の図書館", posts_path ,class: "navbar-brand col-sm-3 col-m " %>
    <ul class="navbar-nav px-3">
      <li class="nav-item text-nowrap">
          <div class="text-left header_text">
            <i class="fa fa-pencil"></i>
            <%= link_to "About", about_path %>
            <i class="fa fa-file"></i>
            <%= link_to "ワークシート", worksheets_path %>
            <i class="fa fa-file"></i>
            <%= link_to "指導案",plans_path %>
            <i class="fa fa-file"></i>
            <%= link_to "所見例", findings_path %>
            <% if user_signed_in? %>
              <%= "ログイン中: #{current_user.name}さん" %>
              <% if current_user.image.url.present? %>
                <%= link_to image_tag(current_user.image.url(:user_thumb)), edit_user_registration_path(current_user.id) %>
              <% else %>
                <%= link_to image_tag("user.png"), edit_user_registration_path(current_user.id) %>
              <% end %>
              <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
            <% else %>
            <%= "あなたは今ログインしていません" %>
            <%= link_to "新規登録", new_user_registration_path %>
            <%= link_to "ログイン", new_user_session_path %>
            <% end %>
          </div>
      </li>
    </ul>
  </nav>
</header>
<body>
  <%= yield %>
</body>
</html>
